[submodule "3rdparty/libyuv"]
	path = 3rdparty/libyuv
	url = https://github.com/fredldotme/libyuv.git
[submodule "libwebrtc"]
	path = 3rdparty/libwebrtc
	url = https://github.com/fredldotme/libwebrtc.git
[submodule "3rdparty/qwebrtc"]
	path = 3rdparty/qwebrtc
	url = https://github.com/fredldotme/qwebrtc.git
